// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';


#sidebar:after{
    background: linear-gradient(135deg, #3f98e0 30%, #dfdfdf 70%) !important;
}

#sidebar ul li a {
    color: rgb(255, 255, 255);
}

// #sidebar ul li.active > a {
//     color: rgb(187, 187, 187);
// }

.custom-menu{
    margin-left: -50px !important;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #2770a0 !important;
    border-bottom: 1px solid #2770a0 !important; 
}

.bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 25%;
}

.title-wrapper{
    position: absolute;
    width: 100%;
    height: 400px;
    top: 32%;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: 1920px 900px;
}

.azul {
    color: #4698DB;
}

.tarjeta {
    border: 1px solid #EDEDED;
    border-radius: 5px;
}

.tarjeta-amarilla {
    padding: 5px;
    border: 1px solid rgb(255, 215, 105);
    background-color: rgb(255, 237, 189);
}

.nota-info {
    padding: 5px;
    border-left: 5px solid rgb(80, 185, 255);
    background-color: rgb(203, 247, 255);
}

.ck-editor__editable_inline {
    min-height: 400px;
}

.submenu-nav {
    margin-left: 15px;
}